#calc {
    display: none;
    opacity: 0;
}
.calc-bar {
    position: relative;
    box-sizing: border-box;
    margin: 30vh 15vw 80px 70px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 9vh;
    line-height: 9vh;
    border-radius: 10px;
    background:rgba(255,255,255,50);
    color:black;
    font-size: 8px;
    font-size: 0.5rem;
    font-weight: lighter;
    letter-spacing: 11.2px;
    letter-spacing: 0.7rem;
    text-align: center;
    animation: fade-in 0.5s ease-out 0s forwards,
    going-down 0.5s ease-out 0s forwards;
    opacity: 0;
}
.calc-bar > .calc {
    position: absolute;
    top: 0; left: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57a0db+1,e577c4+100 */
    background: #57a0db; /* Old browsers */
    background: -moz-linear-gradient(left, rgb(58,161,93) 1%, rgb(58,111,93) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgb(58,161,93) 1%,rgb(58,111,93) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgb(58,161,93) 1%,rgb(58,111,93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(58,161,93)', endColorstr=',rgb(58,111,93)',GradientType=1 ); /* IE6-9 */
    animation: working 5.5s 2s forwards;
}
.wait {
    padding-bottom: 10px;
    font-size: 27.2px;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    animation: fade-in 0.3s ease-out 0.6s forwards,
    going-down 0.3s ease-out 0.6s forwards;
    opacity: 0;
}

/* media query */