#qna{
    margin-top:40px;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
}
.status-bar {
    display: flex;
    align-self: center;
    width: 75%;
    height: 15px;
    border: 3px solid white;
    border-radius: 20px;
    background: white;
    animation: fade-in 0.3s ease-in-out;
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.status {
    align-self: center;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(58,111,93);
}
.q_box, .q_box2 {
    text-align: center;
    display:flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 70px;
    margin-top: 30px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    line-height: 1.60;
}
.q_box{
    margin-bottom: 0px;
}
.q_box2{
    margin-top: 0px;
}
.answer{
    margin-top:100px;
}
.a_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
    border-radius: 20px;
    background-color: antiquewhite;
    margin: auto auto 20px;
    padding: 0 30px;
    cursor: pointer;
    color:black;
    font-family: yg-jalnan;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.5px;
    border: 0;
    outline: none;
    font-size:14px
}
